flask --app ./main.py --debug run (to run with debugger on and the website refresh everytime you make changes)
pipenv shell (activate pipenv)
pip3 freeze (check packages)
cd ../ (go out of the current folder)