body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-mulish: Mulish;
  --font-short-stack: "Short Stack";
  --font-manrope: Manrope;
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #121416;
  --color-whitesmoke: #f5f5f5;
  --color-royalblue: #5871eb;
  --color-dimgray: #696f79;
  --color-lightslategray: #8692a6;

  /* Gaps */
  --gap-6xl: 25px;

  /* Border radiuses */
  --br-91xl: 110px;
  --br-mini: 15px;
  --br-xl: 20px;
  --br-7xs: 6px;
}
