.homepage {
  position: absolute;
  top: 424px;
  left: 292px;
}
.homepage-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1003px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
