.image-icon {
  position: absolute;
  top: calc(50% - 521.5px);
  left: 734px;
  border-radius: var(--br-xl);
  width: 958px;
  height: 1044px;
  overflow: hidden;
  object-fit: cover;
}
.frame-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-royalblue);
  width: 50px;
  height: 50px;
}
.ellipse-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header-inner {
  position: absolute;
  top: 42px;
  left: 159px;
  width: 50px;
  height: 50px;
}
.smartpractice {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 140px);
  font-weight: 600;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 734px;
  height: 134px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.vector-icon1 {
  position: relative;
  width: 22px;
  height: 15px;
}
.button3,
.we-are-happy,
.welcome-back {
  position: absolute;
  display: flex;
  align-items: center;
}
.button3 {
  border: 0;
  padding: 5px 1px;
  background-color: transparent;
  top: 453px;
  left: 536px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.we-are-happy,
.welcome-back {
  left: 154px;
}
.we-are-happy {
  top: 76px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  color: var(--color-lightslategray);
  width: 411px;
}
.welcome-back {
  top: 12px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  color: var(--color-white);
  width: 296px;
}
.register-account {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.button4,
.input,
.input1 {
  position: absolute;
  left: 154px;
  box-sizing: border-box;
  width: 426px;
  display: flex;
  align-items: center;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: 22px 147px;
  background-color: var(--color-royalblue);
  top: 579px;
  border-radius: var(--br-7xs);
  height: 63px;
  flex-direction: row;
  justify-content: center;
}
.button4:hover {
  background-color: #2f42a5;
}
.input,
.input1 {
  border: 1px solid var(--color-lightslategray);
  background-color: var(--color-gray-200);
  height: 64px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  min-width: 1px;
  max-width: 5000px;
}
.input {
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  top: 312px;
}
.input1 {
  top: 192px;
}
.input1,
.input2,
.register-with-google {
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-poppins);
}
.input2 {
  border: 1px solid var(--color-lightslategray);
  background-color: var(--color-gray-200);
  position: absolute;
  top: 433px;
  left: 154px;
  box-sizing: border-box;
  width: 426px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
}
.register-with-google {
  position: relative;
  color: var(--color-white);
  text-align: center;
}
.button5,
.your-fullname {
  position: absolute;
  left: 154px;
  display: flex;
  align-items: center;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) 130px;
  background-color: var(--color-black);
  top: 708px;
  border-radius: var(--br-7xs);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 426px;
  height: 64px;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.button5:hover {
  background-color: #2f2f2f;
}
.your-fullname {
  top: 155px;
  font-weight: 500;
  width: 123px;
}
.or {
  position: absolute;
  top: 668px;
  left: 359px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-silver);
  text-align: center;
}
.create-password,
.email-address,
.i-agree-to {
  position: absolute;
  top: 276px;
  left: 154px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 123px;
}
.create-password,
.i-agree-to {
  top: 397px;
  width: 147px;
}
.i-agree-to {
  top: 523px;
  left: 185px;
  width: 265px;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 675.5px;
  left: 407.5px;
  border-top: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 173px;
  height: 1px;
}
.frame-inner {
  left: 153.5px;
}
.flat-color-iconsgoogle {
  position: absolute;
  top: 729px;
  left: 197px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.checkbox {
  position: absolute;
  top: 523px;
  left: 156px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 16.7px;
  height: 16.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-parent {
  position: absolute;
  top: 167px;
  left: 0;
  width: 734px;
  height: 950px;
  overflow: hidden;
}
.smartpractice-signup {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .header {
    width: 723px;
    height: 125px;
  }
}
