{% extends "layout.html" %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class="text-start">TSL</td>
                    <td class="text-end">4</td>
                    <td class="text-end">$20.34</td>
                    <td class="text-end">2023-09-17 14:31:18</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}