<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/base.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Short Stack:wght@400&display=swap"
    />

    <style>
      @font-face {
        :font-family: "Chillax";
        src: url("Chillax-Medium.otf");
        font-weight: 500;
      }
      @font-face {
        :font-family: "Clash Grotesk";
        src: url("ClashGrotesk-Regular.otf");
        font-weight: 400;
      }
    </style>

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <div class="serendaleai-alternate">
      <nav class="smartpractice-parent">
        <button class="smartpractice1" onclick="location.href='/'">SmartPractice</button>
        <div class="about-us-parent">
          <button class="history" onclick="location.href='/'">To-do</button>
          <button class="history" onclick="location.href='/Note'">Notes</button>
          <button class="history" onclick="location.href='/logout'">Logout</button>
        </div>
      
      </nav>
      <div class="container">
        {% block maincontent %}
        {% endblock %}
      </div>
      <img
        class="serendaleai-alternate-child"
        alt=""
        src="../static/public/group-3.svg"
      />

      <img
        class="z-2101w020n001946bp15-1-icon"
        alt=""
        src="../static/public/123z-2101w020n001946bp15-1@2x.png"
      />

      <img
        class="serendaleai-alternate-item"
        alt=""
        src="../static/public/group-4.svg"
      />
    </div>
  </body>
</html>
