<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/loginglobal.css" />
    <link rel="stylesheet" href="../static/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Short Stack:wght@400&display=swap"
    />

    <style>
      @font-face {
        :font-family: "Chillax";
        src: url("Chillax-Medium.otf");
        font-weight: 500;
      }
      @font-face {
        :font-family: "Clash Grotesk";
        src: url("ClashGrotesk-Regular.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="signup">
      <div class="circle-check-full-parent">
        <img
          class="circle-check-full"
          alt=""
          src="../static/public/circle.svg"
        />

        <div class="iso">
          <img class="image-2-icon" alt="" src="../static/public/image2.png" />

          <img class="image-1-icon" alt="" src="../static/public/image1.png" />
        </div>
      </div>
      <img class="eye-icon" alt="" src="../static/public/eye.png" />

      <div class="signup-inner">
        <div class="smartpractice-group">
          <div class="smartpractice1">SmartPractice</div>
          <div class="group-child"></div>
        </div>
      </div>
      <div class="signup-child">
        <div class="smartpractice-group">
          <div class="smartpractice1">SmartPractice</div>
          <div class="group-child"></div>
        </div>
      </div>
      <div class="welcome-back-parent">
        <div class="welcome-back">Welcome Back 👋</div>
        <div class="we-are-happy">We are happy to have you back</div>
      </div>
      <div class="email-address-parent">
        <div class="email-address">Email address*</div>
        <input
          class="frame-child"
          placeholder="Enter email address"
          type="email"
          autocomplete="off"
        />

        <div class="email-address">Password*</div>
        <input
          class="frame-item"
          placeholder="Enter password"
          type="password"
        />

        <div class="square-checkbox-solid-parent">
          <input
            class="square-checkbox-solid"
            required="{true}"
            type="checkbox"
          />

          <div class="email-address">I agree to terms & conditions</div>
        </div>
        <button class="login-wrapper">
          <div class="login">Login</div>
        </button>
        <div class="line-parent">
          <div class="frame-inner"></div>
          <div class="or">Or</div>
          <div class="frame-inner"></div>
        </div>
        <button class="flat-color-iconsgoogle-parent">
          <img
            class="flat-color-iconsgoogle"
            alt=""
            src="../static/public/flatcolor.svg"
          />

          <div class="register-with-google">Register with Google</div>
        </button>
      </div>
    </div>
  </body>
</html>
