<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/signupglobal.css" />
    <link rel="stylesheet" href="../static/signup.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Short Stack:wght@400&display=swap" />
  </head>
  <body>
    <div class="smartpractice-signup">
      <img class="image-icon" alt="" src="../static/public/image@2x.png" />
      <header class="header">
        <div class="header-inner">
          <div class="ellipse-wrapper">
            <div class="frame-child"></div>
          </div>
        </div>
        <div class="smartpractice">SmartPractice</div>
      </header>
      <header class="welcome-back-parent">
        <div class="welcome-back">Welcome 👋</div>
        <div class="we-are-happy">We are happy to have you here</div>
      </header>
      <form method="POST">
        <main class="your-fullname-parent">
          <div class="your-fullname">Your fullname*</div>
            <input class="input" name="name" placeholder="Enter name" type="text" style="color: white;" autocomplete="new-password"/>
          <div class="your-fullname">Email address*</div>
            <input class="input" name="email" placeholder="Enter email" type="email" style="color: white;" autocomplete="new-password"/>
          <div class="create-password">Create password*</div>
            <input class="input2" name="password" placeholder="Enter password" type="password" style="color: white;" autocomplete="new-password"/>
      </main>
      <footer class="line-parent">
        <div class="frame-item"></div>
        <div class="or">Or</div>
        <div class="frame-item"></div>
      </footer>
      <div class="button-container">
        <button class="button1" type="submit">
          <div class="register-account">Register Account</div>
        </button>
      </div>
      <div class="checkbox-parent">
        <input class="checkbox" required type="checkbox" />
        <div class="i-agree-to">I agree to terms & conditions</div>
      </div>
      </form>
      <div onclick="location.href='/login'" class="button-wrapper">
        <button class="button">
          <div class="register-with-google">Direct to Login</div>
        </button>
      </div>
    </div>
  </body>
</html>
